[alias]
    a = add
    aa = add -A

    b = branch
    ba = branch -a

    cl = clone

    c = commit
    cm = commit -m

    d = diff

    f = fetch
    fa = fetch --all
    fap = fetch --all --prune

    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    k = checkout

    l = pull
    lo = pull origin
    lom = pull origin master

    p = push
    po = push origin
    pom = push origin master

    r = reset
    rh = reset --hard
    rhom = reset --hard origin/master
    rhod = reset --hard origin/dev

    rb = rebase
    rbi = rebase -i

    s = status

    # remove local branches that no longer exist remotely
    sync = "!git fetch --all --prune && for b in $(git branch -vv | awk '/: gone]/{print $1}') ; do echo 'Deleting branch $b' ; git branch -d $b ; done"

    # Laura's
    throwitallaway = "!f(){ git reset --hard HEAD && git clean -fd; };f"
    alias=!git config --list | grep alias

    # Creates a zipped file of the whole repo (git history included) one level up from the current directory
    panic = !tar cvf ../git_panic.tar .
#   unstage = reset HEAD --
    staged = diff --staged


[user]
    name = Tanner Lake
    email = tanner.lake@gmail.com

[core]
    editor=vim

[rerere]
	enabled = true
